<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756489809353-9id5ggqf4ruv81mb1iapi40hocu4dl25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756489809353-9id5ggqf4ruv81mb1iapi40hocu4dl25</string>
	<key>API_KEY</key>
	<string>AIzaSyD6eD_5jfqyMXb-cptO44EnuaBlZAHIhko</string>
	<key>GCM_SENDER_ID</key>
	<string>756489809353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Nov14</string>
	<key>PROJECT_ID</key>
	<string>nov14-9f97c</string>
	<key>STORAGE_BUCKET</key>
	<string>nov14-9f97c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756489809353:ios:bf80eff188e0db10c30c18</string>
</dict>
</plist>